<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Mixins e ajax</title>

      <style>
          .dark{
              color: #ffffff;
              background-color: #333333;
          }
          .light{
              color: #408080;
              background-color: #cccccc;
          }
      </style>

</head>
<body>
    <div style="width: 1349px; margin: 0; background-color: black; opacity: 0.7;">
       <a href="/index.html" style="margin-left: 30px;"><img src="/Logo StormWizard.png" alt="" style="width: 200px;";></a>
    </div>
    <div id="app" style="margin: 0px; padding: 75px; background-color: #ffffff;">
        <div class="container" style="margin: 0; padding: 0; color: #5e5e06; width: 100rem; height: 100vh; display: flex; align-items: center; flex-direction: column;">
        <h1 style="margin: 200px 0 20px 0;">{{ titulo }}</h1>
        <ul>
          <li style="list-style: none;"><router-link :to="{name: 'Transformers'}">Transformers</router-link></li>
          <li style="list-style: none;"><router-link :to="{name: 'GameOfThrones'}">Game of thrones</router-link></li>

          <router-view></router-view>
          
        </ul>
        </div>
    </div>

    <template id="transformers">
        <div class="row">
            <div :class="['col', sidebar]">
                Sidebar
            </div>
            <div class="col">
                <h4>Transformers</h4>
                <ul>
                   <li v-for="item in transformers"><router-link :to="{ name: 'transformersContent', params: { name: item.slug}}">{{ item.name }}</router-link></li>
                </ul>
            </div>

            <div class="col">
                <router-view></router-view>
            </div>
        </div>
       <div>
           
       </div>
    </template>

    <template id="gameOfThrones">
        <div>
            <h4>Game Of Thrones</h4>
            <ul>
               <li v-for="item in gameOfThrones">{{ item.name }}</li>
            </ul>
        </div>
    </template>
    <template id="transfContent">
        <div>
           <h3>Conteúdo Transformers</h3>   
           {{$route.params.name}}     
        </div>
    </template>

    <script src="http://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <script>
    var Transformers = Vue.component('transformers', { 
        template: '#transformers',
        props: {
            sidebar: String,
        },
        data(){
            return{
                transformers: [
                     {name: 'Optimus Prime', slug: 'Optimus-Prime'},
                     {name: 'Bumblebee', slug: 'Bumblebee'},
                     {name: 'Ironhide', slug: 'Ironhide'},
                ],
            }
        },
      });

     var GameOfThrones = Vue.component('gameOfThrones', { 
        template: '#gameOfThrones',
        data(){
            return{
                gameOfThrones: [
                     {name: 'Jhon Snow'},
                     {name: 'Daenerys Targarien'},
                     {name: 'Tyron'},
                ],
            }
        }
      });

      var TransformersContent = Vue.component ('transformers-content', {
          template: '#transfContent',
      })

      var router = new VueRouter({
          mode: 'history',
          routes: [
              {path: '/transformers', name:'Transformers', component: Transformers,
                props: { sidebar: "light" },
                 children: [
                     { path:':name', name:'transformersContent' , component: TransformersContent}, 
                 ]
              },
              {path: '/game-of-thrones',name:'GameOfThrones',component: GameOfThrones},
          ],
         
      })
      
     
        var app = new Vue({
        el: "#app",
        router,

        // created() {
        //     this.$router.push({ name:'transformersContent', params:{name: 'Bumblebee'} });
        // },  --------------------------- rota automatica ------------------------------------

        data:{
            titulo: 'Storm Wizard',
           
        },
       

    });
    </script>
</body>
</html>